<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>emf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>EMF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>WMF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>GIF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>PNG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Icon</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jfif</string>
				<string>jpe</string>
				<string>jpeg</string>
				<string>jpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>TIF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>dib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Bitmap Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>vmware-docker</string>
	<key>CFBundleGetInfoString</key>
	<string>Windows XP Professional
c:/windows/system32/mspaint.exe</string>
	<key>CFBundleIconFile</key>
	<string>docker.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.vmware.proxyApp.564d1976cd504e94-bf9325610f2cdd70.3463809022631059897</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Paint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VMware Fusion 8.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>4543325</string>
	<key>DOExecInfoHash</key>
	<string>file:29554557-237232128 icon:0-0</string>
	<key>DOGuestAppURI</key>
	<string>file:///c:/windows/system32/mspaint.exe</string>
	<key>DOGuestVMConfigPath</key>
	<string>/Volumes/Joel-WD1TB/Virtual Machines/Windows XP Professional.vmwarevm/Windows XP Professional.vmx</string>
	<key>DOHostAppBundleIdentifier</key>
	<string>com.vmware.fusion</string>
	<key>DOHostAppName</key>
	<string>VMware Fusion</string>
	<key>DOLargeIconsRetrieved</key>
	<false/>
	<key>DOPublishVersion</key>
	<integer>3</integer>
	<key>DOVMUUID</key>
	<string>56 4d 19 76 cd 50 4e 94-bf 93 25 61 0f 2c dd 70</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>No</string>
	<key>NSHumanReadableCopyright</key>
	<string>Windows XP Professional
c:/windows/system32/mspaint.exe</string>
	<key>NSMainNibFile</key>
	<string>doMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>DOApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>PAFileHandlers</key>
	<dict>
		<key>bmp</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>dib</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>emf</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>gif</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>ico</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>jfif</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>jpe</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>jpeg</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>jpg</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>png</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>tif</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>tiff</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
		<key>wmf</key>
		<dict>
			<key>run</key>
			<string>file:///C:/WINDOWS/system32/mspaint.exe?argv%5B%5D=%22%251%22</string>
		</dict>
	</dict>
	<key>PAURLHandlers</key>
	<dict/>
</dict>
</plist>
