<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wms</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Player Skin File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Player Skin Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>au</string>
				<string>snd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>AU Format Sound</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP3 Format Sound</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asx</string>
				<string>wmx</string>
				<string>wvx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio/Video shortcut</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wax</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio shortcut</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aifc</string>
				<string>aif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>AIFF Format Sound</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Wave Sound</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
				<string>midi</string>
				<string>rmi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>MIDI Sequence</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
				<string>wm</string>
				<string>wmv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio/Video file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>M3U file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Video Clip</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
				<string>mp2</string>
				<string>mp2v</string>
				<string>mpa</string>
				<string>mpe</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpv2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Movie File (MPEG)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Player Download Package</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cda</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeName</key>
			<string>CD Audio Track</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>vmware-docker</string>
	<key>CFBundleGetInfoString</key>
	<string>Windows XP Professional
c:/program files/windows media player/wmplayer.exe</string>
	<key>CFBundleIconFile</key>
	<string>docker.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.vmware.proxyApp.564d1976cd504e94-bf9325610f2cdd70.9590524815697848276</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Windows Media Player</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>VMware Fusion 8.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL:mmsu Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mmsu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL:mms Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mms</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL:mmst Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mmst</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4352717</string>
	<key>DOExecInfoHash</key>
	<string>file:29554557-237232128 icon:0-0</string>
	<key>DOGuestAppURI</key>
	<string>file:///c:/program%20files/windows%20media%20player/wmplayer.exe</string>
	<key>DOGuestVMConfigPath</key>
	<string>/Volumes/Joel-WD1TB/Virtual Machines/Windows XP Professional.vmwarevm/Windows XP Professional.vmx</string>
	<key>DOHostAppBundleIdentifier</key>
	<string>com.vmware.fusion</string>
	<key>DOHostAppName</key>
	<string>VMware Fusion</string>
	<key>DOLargeIconsRetrieved</key>
	<false/>
	<key>DOPublishVersion</key>
	<integer>3</integer>
	<key>DOVMUUID</key>
	<string>56 4d 19 76 cd 50 4e 94-bf 93 25 61 0f 2c dd 70</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>No</string>
	<key>NSHumanReadableCopyright</key>
	<string>Windows XP Professional
c:/program files/windows media player/wmplayer.exe</string>
	<key>NSMainNibFile</key>
	<string>doMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>DOApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>PAFileHandlers</key>
	<dict>
		<key>aif</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>aifc</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>aiff</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>asf</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>asx</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>au</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>avi</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>cda</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>m1v</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>m3u</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mid</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>midi</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mp2</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mp2v</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mp3</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mpa</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mpe</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mpeg</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mpg</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mpv2</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>rmi</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>snd</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wav</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wax</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wm</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wma</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wmd</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FWMPackage%3A%22%25L%22</string>
		</dict>
		<key>wms</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2Flayout%3A%22%25L%22</string>
		</dict>
		<key>wmv</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wmx</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>wmz</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2Flayout%3A%22%25L%22</string>
		</dict>
		<key>wvx</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%2FOpen&amp;argv%5B%5D=%22%25L%22</string>
		</dict>
	</dict>
	<key>PAURLHandlers</key>
	<dict>
		<key>mms</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mmst</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%22%25L%22</string>
		</dict>
		<key>mmsu</key>
		<dict>
			<key>run</key>
			<string>file:///C:/Program%20Files/Windows%20Media%20Player/wmplayer.exe?argv%5B%5D=%22%25L%22</string>
		</dict>
	</dict>
</dict>
</plist>
