.container(style="display: flex;justify-content: flex-end;width: 100%;")
  .row
    .col-sm-12
      .page-header
        h1 FintechTM
          p Summation as a Service? (SaS?)
    .col-sm-6
      h3 Summate 
      form(class="navbar-form"action="/search")
        h4 Summate your numerical elements
        p Result: ∃ n s.t. e1, e2 c ℕ n == e1 + e2
        .form-group
          input(class="form-control"name="e1"placeholder="eg&nbsp;1")
          input(class="form-control"name="e2"placeholder="eg&nbsp;1")
        button.btn-primary(type="submit") Summate
        br
